body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f3f3f3;
    color: #333;
}
h1, h2, h3 {
    color: #444;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* center the content and set max width */
header,main,footer {
    max-width: 1000px;
    width: 90%;
    margin: 20px auto; /* Centers the content */
}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}
nav ul li {
    margin-left: 20px;
}

/* Styling the Sections */
section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 5px;
}
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.cta-button, button[type="submit"] {
    display: inline-block;
    background-color: #28a745; /* green button or 007BFF for blue button */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}
.cta-button:hover, button[type="submit"]:hover {
    background-color: #218838; /* darker green or 0056b3 for blue */
    cursor: pointer;
}

input[type="text"], input[type="email"], textarea {
    width: 98%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

